/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
Poppins

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)

---------- BORDER RADIUS ----------

4px / 8px / 20px

---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* ----------------------- GLOBAL STYLES ----------------------- */

:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;
    --secondary-base: #9775fa;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7048e8;
    --tertiary-base: #ff922b;
    --tertiary-tint: #ffe8cc;
    --tertiary-shade: #f76707;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #ffffff;
    --black: #000000; 
    
    /* MISCELLANEOUS */
    --nav-height: 100px; /* Update the value in the flexbox topic */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/* -----------------------------------------Global Styles----------------------------------------- */
body{
        font-weight: 400;
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
        color: #495057;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5{
    
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #212529;

}

h1{
   
  
    font-size: 6.2rem;
   
}
h2{

    font-size: 4.8rem;
  
}
h3{
  
    font-size: 4rem;
  
}
h4{
    
    font-size: 3.2rem;
    
}
h5{
    font-size: 2.4rem;
    

}

p{
  
    font-size: 2rem;  
    
}
a{
   
    text-decoration: none;
   
    font-size: 1.6rem;
    display: inline-block;
}
ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
}
span{
    display: inline-block;
}
.small-text{
    font-size: 1.2rem;
}
/* -----------------------------------------Components----------------------------------------- */
/* .btn class defines general settings for button setting different phases 
for the button :link/visited and :hover/active */
.btn{
    
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}
.btn-primary:link, .btn-primary:visited{
   background: #339af0;
   color: #ffffff;
    border: 2px solid #339af0;
}
.btn-primary:hover, .btn-primary:active{
 background-color: #1c7ed6;
 color: #ffffff;
border: 2px solid #1c7ed6;
}
.btn-primary-outline:link, .btn-primary-outline:visited{
    background-color: #ffffff;
    color: #339af0;
    border: 2px solid #339af0;
}
.btn-primary-outline:hover, .btn-primary-outline:active{
 background-color: #ffffff ;
 color: #1c7ed6;
 border: 2px solid #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited{
    background-color: #9775fa;
    color: #ffffff;
    border: 2px solid #9775fa;
}
.btn-secondary:hover, .btn-secondary:active{
 background-color: #7048e8;
 color: #ffffff;
}
.btn-secondary-outline:link, .btn-secondary-outline:visited{
    background-color: #9775fa;
    color: #ffffff;
}
.btn-secondary-outline:hover, .btn-secondary-outline:active{
 background-color: #7048e8;
 color: #ffffff;
}
.highlight{
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
.highlight-primary{
    background-color: #339af0;
}
.highlight-secondary{
    background-color:#9775fa ;
}
.highlight-tertiary{
    background-color: #ff922b;
}
.logo-md{
    width: 100px;
}
.logo-sm{
    width: 80px;
}
/*---------- Header---------- */
.header{
    height: 100vh;
    min-height: 800px;
}
/*---------- Navbar---------- */
.navbar{
    margin-bottom: 20rem;
}
/* -----------------------------------------Section----------------------------------------- */
/* ------------Hero Section------------ */
.hero-section{
    text-align: center;
    margin-bottom: 30rem;
} 
.hero-heading{
    margin-bottom: 1rem;
}
.hero-paragraph{
    margin-bottom: 5rem;
}
/* ------------Feature Section------------ */
.feature-main-heading{
    text-align: center;
    margin-bottom: 8rem;
}
.feature-headings{
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}
.feature-img{
   max-width: 400px;
   width: 100%;
}
.feature-section{
    margin-bottom: 30rem;
}
/* ------------Call To Action Section------------ */
.action-section{
    margin-bottom: 30rem;
}
.action-card{
     background-color: #339af0;
       text-align: center;
        max-width: 1000px;
        padding: 10rem 20rem;
        border-radius: 20px;
        margin: auto;
   
}
.cta-heading{
    margin-bottom: 3rem;
}
/* ------------Footer------------ */
.footer{
    text-align: center;
} 
.social-icons{
    width: 20px;
}
